@import "tailwindcss";

/* Make `dark:` depend on the `.dark` class (not OS theme) */
@custom-variant dark (&:where(.dark, .dark *));

:root {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
}
